---
layout: page
---

{{ content }}

<!-- <div class="announcement-box">
      <h3>奖学金计划</h3>
      <p>作业 0~7 总分共 100 分，凡最终得分 ≥80 的同学，奖励 ￥500 元。</p>
      <p>作业成绩通过 <b><a href="https://docs.qq.com/sheet/DZWV3RHpEQlhtZWtU?tab=BB08J2" target="_blank">Grading Book</a></b> 发布，敬请关注！</p>
</div> -->

<ul id="archive">
{% for asg in site.assignments %}
      <li class="archiveposturl" style="background: transparent">
        <span><a href="{{ asg.url | prepend: site.baseurl}}">{{ asg.title }}</a></span>
<strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
<a title="Download problems (pdf)" href="{{ asg.pdf | prepend: site.baseurl }}"><i class="fas fa-file-pdf"></i></a>
{% if asg.attachment %}
&nbsp; <a title="Download attachments (zip)" href="{{ asg.attachment | prepend: site.baseurl }}"><i class="fas fa-file-archive"></i></a>
{% endif %}
</strong>
      </li>
{% endfor %}
</ul>
