---
layout: page
---

{{ content }}

<ul id="archive">
{% for section in site.sections %}
<li class="archiveposturl" style="background: transparent">
<div class="lecture-container">
    {% if section.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ section.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ section.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
    <div class="content">
        <span style="font-weight: bold;">{{ section.title }}</span><br>

        <strong>tl;dr:</strong> {{ section.tldr }}
        <br/>
        <strong>
        {% include section_links.html section=section %}
        </strong>

        {% if section.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ section.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>
